@use "../presets" as *;
@use "../mixins" as *;

.apps {
  padding: 80px 0;

  background-color: $color-yellow-light;
}

.apps__title {
  margin-top: 40px;
  margin-bottom: 58px;
}

.apps__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 57px 110px;
}

.app-item {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-top: 20px;

  gap: $gap;
  @include lg-min {
    width: calc(100% / 4);
  }
  @include lg-md {
    width: calc(100% / 3);
  }
  @include md {
    width: calc(100% / 2);
  }

  &__title {
    margin: 0;

    text-align: center;

    font-size: 25px;
    line-height: $line-height-lg;
  }

  &__picture {
    order: -1;

    width: 160px;
    height: 120px;
  }

  &__image {
    width: 100%;
  }

  &__description {
    text-align: center;

    font-size: 18px;
    line-height: $line-height-lg;
  }
}
