$color-primary: #000000;
$color-accent: #ff6336;
$color-accent-light: #ff9c7d;
$color-gray: #cccccc;
$color-gray-light: #eeeeee;
$color-white: #ffffff;
$color-yellow-light: #fff8e4;
$color-blue-light: #c9e8f2;
$color-brown-light: #dabc98;
