$font-header: "Graphik LCG", sans-serif;
$font-primary: "Graphik LCG", sans-serif;
$font-additional-roboto: "Roboto", sans-serif;
$font-size: 16px;
$line-height-sm: 1;
$line-height: 1.2;
$line-height-lg: 1.4;
$line-height-xl: 1.5;
$line-height-ul: 1.67;
$ul: 1290px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;
